
@use "@/styles/utils/index";

#filterBox{
    margin-bottom: 50px;
    background-color: index.$secondaryColor;
    padding: 30px 20px;
    border-radius: 6px;
    width: 70%;
    margin: -120px auto 50px auto;
    box-shadow: index.$shadow;
    position: relative;
    .text{
        font-size: 20px;
        font-weight: 600;
        color: rgb(100, 100, 100);
    }
    .filterGrid{
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 10px 0 0px 0;
        .btnFilter{
            padding: 12px 15px;
            border-radius: 5px;
            cursor: pointer;
            background-color: index.$primaryColor;
            color: index.$secondaryColor;
        }
    }
}


@media screen and (max-width:992px) {
    #filterBox{
        margin-bottom: 50px;
        background-color: index.$secondaryColor;
        padding: 30px 20px;
        border-radius: 6px;
        width: 100%;
        margin: -100px auto 50px auto;
        box-shadow: index.$shadow;
        .text{
            font-size: 20px;
            font-weight: 600;
            color: rgb(100, 100, 100);
        }
        .filterGrid{
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 10px 0 0px 0;
            div{
                width: 100%;
            }
            .btnFilter{
                padding: 12px 15px;
                border-radius: 5px;
                cursor: pointer;
                background-color: index.$primaryColor;
                color: index.$secondaryColor;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:768px) {
    #filterBox{
        margin-bottom: 50px;
        background-color: index.$secondaryColor;
        padding: 30px 20px;
        border-radius: 6px;
        width: 100%;
        margin: 0 auto 50px auto;
        box-shadow: index.$shadow;
        .text{
            font-size: 20px;
            font-weight: 600;
            color: rgb(100, 100, 100);
        }
        .filterGrid{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            margin: 10px 0 0px 0;
            div{
                width: 100%;
            }
            .btnFilter{
                padding: 12px 15px;
                border-radius: 5px;
                cursor: pointer;
                background-color: index.$primaryColor;
                color: index.$secondaryColor;
            }
        }
    }
}