@use "./utils/index.scss";
:root{
    --font-mono:   monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input, textarea{
    font-size: 16px;
}
button{
    font-size: 16px;
    font-weight: 600;
}
select{
    font-size: 16px;
}
a{
    text-decoration: none;
    display: inline-block;
    color: index.$darkColor;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0;
    padding: 0;
}
ul,li{
   list-style: none;
}

body{
    background-color: index.$bodyColor;
}

// container class
.container{
    width: 95%;
    margin: 0 auto;
}

main{
    min-height: 100vh;
}



@media screen and (max-width:768px) {
    .container{
        width: 97%;
        margin: 0 auto;
    }
}