@use "@/styles/utils/index";

.selectTag {
    padding: 13px 12px;
    outline: none;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 6px;
    transition: all 0.5s;
    width: 100%;
    font-size: 16px;
    color: rgb(56, 56, 56);
    
}
.selectTag:focus-visible{
    border: 1px solid index.$primaryColor;
}