// Color
$primaryColor : #FF385C;
$secondaryColor: #fff;
$bodyColor: #F1F5F9;
$darkColor: #374151;

// Width
$screenXl : 1200px;
$screenLg : 1050px;
$screenMd : 992px;
$screenSm: 768px;
$screenSsm: 600px;
$screenXsm : 500;

// Shadow
$shadow : 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1)